/ABOUT-NLS
Makefile
Makefile.in
/aclocal.m4
/config.log
/config.rpath
/config.status
/config.guess
/config.sub
/configure
/configure~
/install-sh
/install-sh~
/ibus-typing-booster.spec
/autom4te.cache/
compile
ibus-typing-booster-*.tar.gz
test-driver
\#*\#
.\#*
